@import "tailwindcss";

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
  }
  
  .animate-infinite-scroll {
    animation: infinite-scroll 45s linear infinite;
  }
  .animate-infinite-scroll:hover {
    animation-play-state: paused;
  }
}

@keyframes infinite-scroll {
  from { transform: translateX(0); }
  to { transform: translateX(calc(-50% - 0.5rem)); } /* -50% shifts halfway, adjusted for gap */
}
